src/components/__pycache__/__init__.cpython-312.pyc
src/components/__pycache__/button_row.cpython-312.pyc
src/components/__pycache__/content_area.cpython-312.pyc
src/components/__pycache__/sidebar.cpython-312.pyc
src/components/__pycache__/principal_content_area.cpython-312.pyc
